@import 'tailwindcss';

@font-face {
  font-family: Roboto-flex;
  font-style: normal;
  font-weight: 300 600;
  font-display: swap;
  src: url('/fonts/Roboto_Flex/RobotoFlex.woff2') format('woff2');
}

/* @theme {
  --font-sans: Roboto-flex, Arial, Helvetica, sans-serif;

} */

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Roboto-flex, Arial, Helvetica, sans-serif;
  font-weight: 300;
}

/* Scrollbar profesional */
* {
  scrollbar-width: thin;
  scrollbar-color: #01d0ff #ffffff;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 4px;
}

*::-webkit-scrollbar-thumb {
  background: #60a5fa;
  border-radius: 4px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #3b82f6;
}

html,
body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}
/* font weight 600 titkles */

.font-title {
  font-family: 'Roboto-flex', Arial, Helvetica, sans-serif;
  font-weight: 600;
}
